data/__MACOSX
data/battery_alt_dataset/recommissioned_batteries/
data/battery_alt_dataset/second_life_batteries/
data/battery_alt_dataset/regular_alt_batteries/*
!data/battery_alt_dataset/regular_alt_batteries/battery01.csv
!data/battery_alt_dataset/regular_alt_batteries/README.txt